.flag{
    display: inline-flex;
}
#main{
    display: inline-block;
}
#stand{
    background-color: black;
    width: 30px;
    height: 500px;
}
#green{
    width: 400px;
    height: 100px;
    background-color: green;

}

#yellow{
    width: 400px;
    height: 100px;
    background-color:yellow;

}

#red{
    width: 400px;
    height: 100px;
    background-color: red;



}


.flagC{
    display: inline-flex;
}
#mainC{
    display: inline-block;
}
#standC{
    background-color: black;
    width: 30px;
    height: 500px;
}
#blueC1{
    width: 400px;
    height: 50px;
    background-color:blue;

}

#white1{
    width: 400px;
    height: 50px;
    background-color:white;

}

#redC{
    width: 400px;
    height: 100px;
    background-color: red;



}

#white2{
    width: 400px;
    height: 50px;
    background-color:white;



}
#blueC2{
    width: 400px;
    height: 50px;
    background-color:blue;



}










.flag4{
    display: inline-flex;
}
#main4{
    display: inline-block;
}
#stand4{
    background-color: black;
    width: 30px;
    height: 550px;
}
#yellow1{
    width: 400px;
    height: 150px;
    background-color:yellow;

}

#blue{
    width: 400px;
    height: 100px;
    background-color:blue;

}

#red1{
    width: 400px;
    height: 100px;
    background-color: red;



}



.flagS {
    width: 600px;
    height: 400px;
    position: relative;
    overflow: hidden;
  }
  
  .flagS:before, .flagS:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
  }
  
  .flagS:before {
    height: 134px;
    background: white;
    top: 133px;
  }
  
  .flagS:after {
    top: 160px;
    background: #007a4d;
    height: 80px;
  }
  
  .f1 {
    border-top: 200px solid #de3831;
    border-bottom: 200px solid #002395;
  }
  
  .f1:before, .f1:after, .f2:before {
    position: absolute;
    content: '';
    display: block;
    border-width: 382px 573px;
    top: -182px;
    border-style: solid;
    border-color: transparent;
  }
  
  .f1:before {
    border-left-color: #007a4d;
    left: -201px;
    z-index: 1;
  }
  
  .f1:after {
    border-left-color: #fff;
    left: -153px;
  }
  
  .f2:before {
    top: -382px;
    border-left-color: #000;
    left: -621px;
  }
  
  .f2 {
    border-style: solid;
    border-color: transparent transparent transparent #ffb612;
    border-width: 382px 573px;
    top: -182px;
    position: absolute;
    left: -345px;
    z-index: 1;
  }
  
  






  